
:root {
  --bgc: #101010;
  --bdc: #2f2f2f;
  --ac: #00D72f;
}


header {
  height: 80px;
  color: var(--bgc);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: rgb(15, 15, 15, 0.3);
  position: fixed;
  width: 100%;
}

header .name {
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  color: var(--bgc);
  font-size: 50px;
  font-weight: 800;
  border-radius: 15px;
  margin: auto 20px;
  transition: all 0.5s;
}

header .name:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}

header a.link:hover {
  color: #cccccc;
}

header a.link.margin-right {
  margin-right: 20px;
}

header a.link.margin-left {
  margin-left: 20px;
}

@media screen and (min-width: 820px) {
  header a.link {
    width: 100px;
    color: white;
    font-weight: 800;
    text-align: center;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 820px) {
  header a.link {
    display: none;
  }
}