@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap");


:root {
  --background-color-dark: #101010;
  --element-color-dark: #1f1f1f;
  --border-color-dark: #2f2f2f;

  --background-color-light: #ffffff;
  --element-color-light: #eeeeee;
  --border-color-light: #cccccc;

  --accent-color: #bdff00;
}


* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color-dark);
  font-family: "Montserrat", sans-serif;
  font-family: "Unbounded", sans-serif;
  /* font-family: "Flow Circular", sans-serif; */
}

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background-color: var(--background-color-dark);
  width: 1vw;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-color-dark);
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}


main > section {
  padding: 100px 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main > section.light {
  background: var(--background-color-light);
  color: var(--background-color-dark);
}

main > section.dark {
  background: var(--background-color-dark);
  color: var(--background-color-light);
}

main > section .content {
  width: 1000px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: gap 0.3s;
}

main > section h1.topic {
  font-size: 50px;
  border-bottom: 5px solid var(--accent-color);
  width: fit-content;
}

main > section h2 {
  font-size: 30px;
}

main > section.light p {
  font-weight: 500;
}

main > section.dark p {
  font-weight: 400;
}

main > section.first {
  padding-top: 125px;
}


main > .cover {
  background-image: url("../imgs/cover.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

main > .cover img {
  width: 300px;
}

main > .cover .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

main > .cover h1.name {
  font-size: 50px;
  color: var(--background-color-light);
  text-shadow: 0px 0px 50px var(--background-color-dark);
}

main > .cover .socials {
  display: flex;
  align-items: center;
  gap: 15px;
}

main > .cover .socials a {
  height: 16px;
  backdrop-filter: blur(20px);
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
  color: var(--background-color-light);
  display: flex;
  align-items: center;
  gap: 5px
}

main > .cover .socials i {
  display: ;
  height: 16px;
}

/* BUTTON */

main > section .button {
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  transition: all 0.5s;
  cursor: pointer;
}

main > section.light .button {
  background-color: var(--background-color-dark);
  color: var(--background-color-light);
  font-weight: 700;
}
/* 
main > section.light .button:hover {
  background-color: var(--border-color-dark);
  box-shadow: 0px 0px 100px var(--accent-color);
} */

main > section.dark .button {
  background-color: var(--background-color-light);
  color: var(--background-color-dark);
  font-weight: 800;
}
/* 
main > section.dark .button:hover {
  background-color: var(--border-color-light);
} */

main > section .button:hover {
  background-color: var(--accent-color);
  color: var(--background-color-dark);
}