
main > .hierarchy .person {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  height: 300px;
  border-radius: 50px;
}

main > .hierarchy .person.leader .img {
  background-image: url("../imgs/tanks/M18 (Италия).png");
}

main > .hierarchy .person.george20097 .img {
  background-image: url("../imgs/tanks/Т-44-100.png");
  background-position: left center;
}

main > .hierarchy .person.igoreka .img {
  background-image: url("../imgs/tanks/Pz.IV F2.png");
}

main > .hierarchy .person.mmish14 .img {
  background-image: url("../imgs/tanks/Tiger II (H).png");
  background-position: right center;
}

main > .hierarchy .person .texts {
  align-self: center;
  width: calc(50% - 75px);
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: all 0.3s;
}

main > .hierarchy .person .name {
  display: flex;
  align-items: center;
  gap: 10px;
}

main > .hierarchy .person .role {
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}

main > .hierarchy .person .stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

main > .hierarchy .person .stat > .dots {
  width: 100%;
  height: 10px;
}

main > .hierarchy .person .tip {
  font-size: 12px;
  color: grey;
}

/* Светлая тема */

main > .hierarchy.light .person {
  background: var(--element-color-light);
  border: 3px solid var(--border-color-light);
}

main > .hierarchy.light .person .role {
  background: var(--background-color-dark);
  color: var(--element-color-light);
}

main > .hierarchy.light .person .stat > .dots {
  border-bottom: 3px dotted var(--border-color-dark);
}

/* Темная тема */

main > .hierarchy.dark .person {
  background: var(--element-color-dark);
  border: 3px solid var(--border-color-dark);
}

main > .hierarchy.dark .person .role {
  background: var(--background-color-light);
  color: var(--element-color-dark);
  font-weight: 800;
}

main > .hierarchy.dark .person .stat > .dots {
  border-bottom: 3px dotted var(--border-color-light);
}


@media screen and (min-width: 1000px) {
  main > .hierarchy .person .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(50% - 25px);
    border-radius: 50px;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px;
  }
}

@media screen and (max-width: 1000px) {
  main > .hierarchy .person .img {
    display: none;
  }

  main > .hierarchy .person .texts {
    width: 100%;
    margin: 0 50px;
  }
}

@media screen and (max-width: 550px) {
  main > .hierarchy .person .role {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  main > .hierarchy .person .texts {
    margin: 25px;
  }
}

@media screen and (max-width: 375px) {
  main > .hierarchy .content {
    gap: 15px;
  }

  main > .hierarchy .person {
    height: fit-content;
    border-radius: 25px;
  }

  main > .hierarchy .person .name h2 {
    margin: 0;
  }

  main > .hierarchy .person .stat {
    display: none;
  }

  main > .hierarchy .person .tip {
    display: none;
  }
}