
main > .events .event {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > .events .event .texts {
  margin-bottom: 10px;
}

main > .events .event .img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  border-radius: 50px;
  margin-bottom: 25px;
}

main > .events .event .img.revenge-for-brother {
  background-image: url("../imgs/events/Месть За Брата.png");
}

/* Светлая тема */

main > .events.light .event p {
  color: var(--border-color-dark);
}

/* Темная тема */

main > .events.dark .event p {
  color: var(--border-color-light);
}