
main > .img-text-chess-order-1-1 .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

main > .img-text-chess-order-1-1 .item img {
  width: calc(50% - 25px);
  border-radius: 50px;
}

/* Светлая тема */

main > .img-text-chess-order-1-1.light .item p {
  color: var(--border-color-dark);
}

/* Темная тема */

main > .img-text-chess-order-1-1.dark .item p {
  color: var(--border-color-light);
}

@media screen and (min-width: 900px) {
  main > .img-text-chess-order-1-1 .item.text-left .text {
    text-align: left;
  }

  main > .img-text-chess-order-1-1 .item.text-right .text {
    text-align: right;
  }
}

@media screen and (max-width: 900px) {
  main > .img-text-chess-order-1-1 .item {
    flex-direction: column;
    gap: 15px;
  }

  main > .img-text-chess-order-1-1 .item img {
    width: 100%;
    max-width: 95vw;
  }

  main > .img-text-chess-order-1-1 .item.text-right {
    flex-direction: column-reverse;
  }

  main > .img-text-chess-order-1-1 .item .text {
    text-align: center;
  }
}