
main > .task-types .task-type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

main > .task-types .task-type .img {
  background-size: cover;
  background-position: center center;
  width: calc((100% - 50px) / 3 * 2);
  height: 300px;
  border-radius: 50px;
}

main > .task-types .task-type .img.lcr1 {
  background-image: url("../imgs/tanks/Leopard 2A6.png");
}

main > .task-types .task-type .img.lcr2 {
  background-image: url("../imgs/tanks/Type 16.png");
}

main > .task-types .task-type .img.lcr3 {
  background-image: url("../imgs/tanks/Ariete AMV.png");
}


main > .task-types .task-type .img.wkot1 {
  background-image: url("../imgs/tanks/Т-60.png");
}

main > .task-types .task-type .img.wkot2 {
  background-image: url("../imgs/tanks/Sd.Kfz.234-3.png");
}

main > .task-types .task-type .img.wkot3 {
  background-image: url("../imgs/tanks/АСУ-57.png");
}


main > .task-types .task-type .img.wnot1 {
  background-image: url("../imgs/tanks/M36 (Япония).png");
}

main > .task-types .task-type .img.wnot2 {
  background-image: url("../imgs/tanks/M4A2 (СССР).png");
}

main > .task-types .task-type .img.wnot3 {
  background-image: url("../imgs/tanks/Т-62 545 (Китай).png");
}

main > .task-types .task-type .img.wnot4 {
  background-image: url("../imgs/tanks/ЗСУ-57-2.png");
}

main > .task-types .task-type .img.wnot5 {
  background-image: url("../imgs/tanks/QF 3.7 Ram.png");
}

main > .task-types .task-type .img.wnot6 {
  background-image: url("../imgs/tanks/Toldi IIA.png");
}

main > .task-types .task-type .texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Светлая тема */

main > .task-types.light {
  background-color: white;
  color: var(--bgc);
}

main > .task-types.light .task-type p {
  color: var(--border-color-dark);
}

/* Темная тема */

main > .task-types.dark {
  background-color: var(--bgc);
  color: white;
}

main > .task-types.dark .task-type p {
  color: var(--border-color-light);
}

@media screen and (min-width: 900px) {
  main > .task-types h1 {
    font-size: 50px;
  }

  main > .task-types .task-type .texts {
    width: calc((100% - 50px) / 3);
  }

  main > .task-types .task-type .texts.right-text {
    align-items: end;
  }
}

@media screen and (max-width: 900px) {
  main > .task-types {
    padding: 75px 0 75px;
  }

  main > .task-types h1 {
    font-size: 35px;
  }

  main > .task-types .task-type {
    width: 100%;
    flex-direction: column;
  }

  main > .task-types .task-type.reversed {
    flex-direction: column-reverse;
  }

  main > .task-types .task-type .img {
    width: 100%;
  }

  main > .task-types .task-type .texts {
    width: 100%;
    margin-top: 25px;
  }
}