
main > .tasks .tasks-type {
  width: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  min-height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
}

main > .tasks .tasks-type:hover {
  scale: 1.025;
}

/* Светлая тема */

main > .tasks.light .tasks-type {
  background: var(--element-color-light);
  border: 3px solid var(--border-color-light);
  color: var(--background-color-dark);
}

main > .tasks.light .tasks-type p {
  color: var(--border-color-dark);
}

/* Темная тема */

main > .tasks.dark .tasks-type {
  background: var(--element-color-dark);
  border: 3px solid var(--border-color-dark);
  color: var(--background-color-light);
}

main > .tasks.dark .tasks-type p {
  color: var(--border-color-light);
}