
main > .task .info {
  width: 75%;
  display: flex;
  align-items: center;
}

main > .task .info .difficulty {
  margin: 0 10px;
  padding: 0 10px 0;
  border-left: 3px solid var(--accent-color);
  border-right: 3px solid var(--accent-color);
  height: 100%;
}

main > .task img {
  width: 75%;
  border-radius: 50px;
}

main > .task form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

main > .task .answers {
  margin: 10px 0;
}

main > .task input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

main > .task input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin: 5px 0;
  font-weight: 600;
}

main > .task input + label::before {
  content: '';
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 10px;
}

main > .task input:not(:disabled):not(:checked) + label:hover {
  cursor: pointer;
}

main > .task .solution {
  padding: 25px;
  background: var(--element-color-dark);
  border-radius: 25px;
  display: none;
  border: 3px solid var(--border-color-dark);
}

/* Светлая тема */

main > .task.light input + label::before {
  border: 1.5px solid var(--background-color-dark);
}

main > .task.light input:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--border-color-dark);
}

main > .task.light input:not(:disabled):not(:checked) + label:hover {
  color: var(--border-color-dark);
}

main > .task.light input:checked + label::before {
  border-color: var(--background-color-dark);
  background-color: var(--background-color-dark);
}

main > .task.light .answered label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

main > .task.light .answered label {
  color: var(--accent-color);
}

main > .task.light .invalid label::before {
  border-color: #ff4d00;
  background-color: #ff4d00;
}

main > .task.light .invalid label {
  color: #ff4d00;
}

/* Темная тема */

main > .task.dark input + label::before {
  border: 2px solid var(--background-color-light);
}

main > .task.dark input:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--border-color-light);
}

main > .task.dark input:not(:disabled):not(:checked) + label:hover {
  color: var(--border-color-light);
}

main > .task.dark input:checked + label::before {
  border-color: var(--background-color-light);
  background-color: var(--background-color-light);
}

main > .task.dark .answered label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

main > .task.dark .answered label {
  color: var(--accent-color);
}

main > .task.dark .invalid label::before {
  border-color: #ff4d00;
  background-color: #ff4d00;
}

main > .task.dark .invalid label {
  color: #ff4d00;
}

@media screen and (min-width: 900px) {
  main > .task h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 900px) {
  main > .task {
    padding: 75px 0 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main > .task img {
    width: 100%;
  }

  main > .task form {
    width: 100%;
  }

  main > .task h1 {
    font-size: 35px;
  }
}