
main > .events .event {
  text-align: center;
  width: 100%;
}
main > .events .event .texts {
  margin-bottom: 25px;
}

main > .events .event .img {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 300px;
  border-radius: 50px;
}

main > .events .event .img.revenge-for-brother {
  background-image: url("../imgs/events/Месть За Брата.png");
}

main > .events .event h2 {
  margin-top: 30px;
  font-size: 30px;
}

main > .events .event p {
  margin-top: 5px;
  font-weight: 600;
}

/* Светлая тема */

main > .events.light .event p {
  color: grey;
  margin-top: 5px;
  font-weight: 600;
}

/* Темная тема */

main > .events.dark .event p {
  color: #cccccc;
}